<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rodoviaria J&B</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    
   
</head>
<body>
	<div class="menu">
        <nav>
            <ul class="lista">
                <li> <a href="/">Pagina inicial</a> </li>
                <li><a href=" "> | </a></li>
                               
            </ul>
        </nav>
    </div>
    
    <div>
    <h1>Onibus</h1>
    <p>______________________________</p>
    	
        <div th:each="onibus : ${listaOnibus}">

                <a th:href="@{/comprar/{id}(id=${onibus.id}) }"><p th:text="${onibus.destino}"></p></a>          
                <p th:text="Empresa---+${onibus.empresa}"></p>
                <p th:text="Tempo_de_viagem---+${onibus.tempoViagem}"></p>
                <p th:text="Total_de_lugares---+${onibus.lugares}"></p>  
                <p th:text="Lugares_disponiveis---+${onibus.lugaresDisponiveis}"></p>
                
                <h3>Lista de clientes</h3>
                <div class="cliente" th:each="cliente : ${onibus.listaClientes}">
                	<p th:text="None---+${cliente.nome}+| Malas---${cliente.quantidadeDeMalas}"></p>
                </div>
                            
                <p>______________________________</p>            

        </div>
    </div>
    
</body>
</html>
